<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Club</title>
</head>

<body>
    <h1>Show Club</h1>
    <h3>Details for Club: <%= club.title %>
    </h3>
    <ul>
        <li>
            <%= club.location %>
        </li>
    </ul>
    <footer>
        <a href="./">Back</a> <a href="/clubs/<%= club._id %>/edit">Edit</a>
        <form action="/clubs/<%=club._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </footer>
</body>

</html>